* {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

.top-header {
  height: 40px;
  background-color: #1e1f29;
  font-size: small;
  font-weight: bold;
}

.corewidth {
  width: 1100px;
  margin: auto;
}

.h-links {
  color: white;
  margin-top: 10px;
  padding: 0;
  list-style-type: none;
  width: 50%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.inlineblock {
  display: inline-block;
}

.alink {
  display: block;
  padding-right: 10px;
}

.fa {
  color: #d10024;
  padding-right: 5px;
}

.alink:hover {
  color: #d10024;
}

.main-header {
  height: 100px;
  background-color: #15161d;
  border-bottom: 3px solid #d10024;
}

.red {
  color: #d10024;
}

.header-side {
  color: white;
  font-size: larger;
  width: 25%;
  border: 1px solid red;
}

.header-middle {
  width: 50%;
  position: relative;
  border: 1px solid red;
  padding: 20px 0 20px 0;
}

.input-select {
  border-radius: 25px 0 0 25px;
  padding: 0px 15px;
}

.input {
  margin-right: -5px;
  height: 40px;
  border: 1px solid #ebeef3;
}

.input-select {
  border-radius: 25px 0 0 25px;
  padding: 0px 15px;
}

.input-search {
  width: 50%;
}

.btn-search {
  background-color: #d10024;
  color: white;
  height: 40px;
  width: 90px;
  font-weight: 700;
  border: none;
  border-radius: 0 25px 25px 0;
}
